
* {margin:0;
padding:0}

a {text-decoration: none
}

ul {list-style-type: none}

@font-face {
	    font-family: 'Bebas';
	    src: url('fonts/Bebas.woff') format('woff'), url('fonts/Bebas.ttf') format('truetype') 
	}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;}

h1 {
    font-family: 'Bebas';
    font-weight: 300;
}

h2 {
    font-family: 'Bebas';
    font-weight: 300;
}

.clearfix {
    clear:both;
    
}

.content {width:100%; max-width: 1200px;
margin:auto}

nav {width:100%;
    height:100px;
    background-color: white;
    box-shadow: 0 4px 1px -1px black;
    z-index: 100;
}

nav img {float:left;
        padding-top:19px;
}

nav ul {float:right;
}

nav ul li {float:left;
    text-transform: uppercase;
    margin-left: 35px;
    font-size: 16px;
    line-height:100px;
    font-weight: 400;
}

nav ul li {
        
    
    
}

nav ul a {
    color: black;
    
}

nav ul a:hover {

    color: #aa7b28;
    
    
}

#cta_top {
    width:113px;
    height:63px;
    background-image: url(bilder/ctatop.png);
    background-size:cover;
    position: relative;
    top:0px;
    right:-500px;
    box-shadow: 0 4px 1px -1px black;
    
    
}

#cta_top p {
    font-family: 'Bebas';
    position: absolute;
    top:23px;
    left:20px;
    font-size: 30px;
    color: white;
    
    
}


header {
    width:100%;
    height:650px;
    background: url(bilder/headerbg.jpg) no-repeat scroll;
    background-size:cover;
}

#headertext {
    width:860px;
    position:relative;
    top:150px;
    left:10%;
    color:#fff;
    background-image: url(bilder/logo_dreiecktrans.png);
    background-repeat: no-repeat;
    background-position: 385px 0;
    padding-left:12px;
    padding-top: 49px;
}


#headertext article

{
    border-left:solid 1px white;
    padding-left: 12px;
    
    
}

#headertext h1 {
    font-size:88px;
    line-height: 75px;
    margin-bottom: 28px;
    
    
}

.braun {
    color:#aa7b28;
    
    
}

#headertext h2 {
    font-size:35px;

}

#leistungen {
    width:100%;
    padding-bottom:85px;
    
    
}

#leistungen h2 {
    text-align:center;
    font-size: 48px;
    padding-top:85px;
    padding-bottom:40px;
    font-weight: 300;
    
}

.line {
    width:54px;
    border-bottom: 1px solid #aa7b28;
    margin:auto;
}

#leistungen .line {
    margin-bottom:60px;
    
    
}

#leistungen article {
    width:350px;
    height:520px;
    border: solid 1px #aa7b28;
    padding:50px;
    box-sizing: border-box;
    float:left;
    margin-right:70px;
    text-align: center;
    
    
}

#leistungen article:hover {
    background-color: rgba(170, 123, 40, 0.1);
    
}

@media screen and (max-width:1220px) {
    #leistungen article {
    width:33.333333333%;
    display: inline-block;
    margin:auto;
    }
    
}




#leistungen article:last-child {
    margin-right: 0;}
    
    



#leistungen .roundicons img {

    
}

#leistungen article h3 {
    text-align:center;
    padding: 30px 0;

    
    
    
}

#leistungen article .line {
    margin-bottom:30px;
    
}

#leistungen article p {
    text-align:center;
    padding-bottom:30px;
    font-size:14px;    
}

#dreieck_sml {
    width:17px;
    height: 17px;
    background-image: url(bilder/dreieckicon.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    margin: auto;
}

#leistungen article a {
    color: black;
    font-size: 14px;
    line-height: 40px;
}

#projekte {
    width:100%;
    height:795px;
    background-image: url(bilder/bgmixer.jpg);
    
}

#projekte .line {
    margin-bottom: 60px;
    
}

#projekte ul {
    width: 50%;
    height:415px;
    float:right;
    padding-left:30px;
    box-sizing: border-box;

}

#projekte ul li {
    height: 110px;
    margin-bottom: 43px;
    
}

#projekte ul li img {
    float:left;
    padding-right: 20px;
  
    
}


#projekte article {
    height: 415px;
    background-image: url(bilder/merryjudgebig.jpg);
    background-size: cover;
    width: 50%;
    float:left;
}

#projekte h2 {
    text-align:center;
    font-size: 48px;
    padding-top:85px;
    padding-bottom:40px;
    font-weight: 300;
    color: white;}

#projekte h3{ 
    color: white;
    font-weight: 300;
    
}

#projekte p {
    color:white;
    font-size: 14px;
    font-weight: 200;
}


#about {
    width: 100%;
    padding-bottom: 85px;
}

#about .line {
    margin-bottom: 60px;}

#about h2 {
    text-align:center;
    font-size: 48px;
    padding-top:85px;
    padding-bottom:40px;
    font-weight: 300; 
    
}
#about article {
    box-sizing: border-box;
  display:flex;
  align-items: center;
}
#articlebox {
  display: flex;
}
#about article p{
    text-align: right;
}

#about article h3:last-child{
    text-align: left;
}

#about article h3 {
    text-align: right;
    
}


#about article img {
    padding: 0 35px;
    
}

#kontakt {
    background-color: #aa7b28
    
} 

#kontakt h2 {
    text-align:center;
    font-size: 48px;
    padding-top:85px;
    padding-bottom:40px;
    font-weight: 300;
    
    
}

#kontakt .line {
    margin-bottom: 60px;
    border-bottom: 1px solid white;
}

#kontakt article {
    box-sizing: border-box;
    display: inline-block;
    float:left;
    width: 45%;
    height: 300px;
    background-color: white;
    padding-left: 100px;
    padding-top: 40px;
    margin-bottom: 85px;
    box-shadow: 0 4px 2px -2px black;
  
}



#kontakt img {
    float:left;
    margin-top: 30px


    
}

#kontakt h3, #kontakt p{
    margin-left: 100px;
    
}

#place {
    height: 80px;
   
}

#place img {
    margin-top: 20px;
    
    
}

#fon {
    height:80px;
    line-height: 100px;
    
}

#mail {
    height:80px;
    line-height: 100px;
}

#kontaktform {
    height: 250px;
    background-color: white;
    width: 45%;
    float:right;
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 4px 2px -2px black;
    
    
    
}


/*Footer*/




footer {
    width: 100%;
    height: 100px;
    background-color:#282828; 
    text-align: center;
    
}

footer p {
    color: white;
    padding-top: 20px
    
    
}



@media screen and (max-width:900px) {
}

    
    
    
    





















