/* Variablen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

@font-face {
  font-family: Bebas;
  src: url(fonts/Bebas.woff) format("woff"), url(fonts/Bebas.ttf) format("truetype"); }
body {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-family: Bebas;
  font-weight: 300; }

h2 {
  font-family: Bebas;
  font-weight: 300; }

.clearfix {
  clear: both; }

.content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 5%; }

nav {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0 4px 1px -1px black;
  z-index: 100; }
  @media screen and (max-width: 900px) {
    nav {
      height: 65px; } }
  nav img {
    float: left;
    padding-top: 19px; }
    @media screen and (max-width: 900px) {
      nav img {
        height: 55px; } }
  nav ul {
    float: right; }
    @media screen and (max-width: 900px) {
      nav ul {
        display: none; } }
    nav ul li {
      float: left;
      padding: 5px;
      text-transform: uppercase;
      line-height: 100px; }
    nav ul a {
      color: black; }
      nav ul a:hover {
        color: #aa7b28; }

#cta_top {
  width: 113px;
  height: 63px;
  background-image: url(bilder/ctatop.png);
  background-size: cover;
  position: relative;
  top: 0;
  right: -500px;
  box-shadow: 0 4px 1px -1px black; }
  @media screen and (max-width: 900px) {
    #cta_top {
      top: 0px; } }
  @media screen and (max-width: 768px) {
    #cta_top {
      display: none; } }
  #cta_top p {
    font-family: Bebas;
    position: absolute;
    top: 23px;
    left: 20px;
    font-size: 30px;
    color: white; }

header {
  width: 100%;
  height: 650px;
  background: url(bilder/headerbg.jpg) no-repeat scroll;
  background-size: cover; }
  @media screen and (max-width: 900px) {
    header {
      height: 250px;
      background-position: left; } }

#headertext {
  width: 860px;
  position: relative;
  top: 150px;
  left: 10%;
  color: #fff;
  background-image: url(bilder/logo_dreiecktrans.png);
  background-repeat: no-repeat;
  background-position: 385px 0;
  padding-left: 12px;
  padding-top: 49px; }
  @media screen and (max-width: 900px) {
    #headertext {
      top: 0px;
      background-position: 200px 0; } }
  @media screen and (max-width: 768px) {
    #headertext {
      background-image: none; } }
  #headertext article {
    border-left: solid 1px white;
    padding-left: 12px; }
  #headertext h1 {
    font-size: 88px;
    line-height: 75px;
    margin-bottom: 28px; }
    @media screen and (max-width: 900px) {
      #headertext h1 {
        font-size: 44px;
        line-height: 38px; } }
  #headertext h2 {
    font-size: 35px; }
    @media screen and (max-width: 900px) {
      #headertext h2 {
        font-size: 24px;
        line-height: 0.9; } }

.braun {
  color: #aa7b28; }

#leistungen {
  width: 100%;
  padding-bottom: 85px; }
  @media screen and (max-width: 900px) {
    #leistungen {
      padding-bottom: 35px; } }
  #leistungen h2 {
    text-align: center;
    font-size: 48px;
    padding-top: 85px;
    padding-bottom: 40px;
    font-weight: 300; }
    @media screen and (max-width: 900px) {
      #leistungen h2 {
        font-size: 36px;
        padding-top: 35px;
        padding-bottom: 15px; } }
  #leistungen .line {
    margin-bottom: 60px; }
    @media screen and (max-width: 900px) {
      #leistungen .line {
        margin-bottom: 25px; } }
  #leistungen .wrapper {
    width: 100%;
    margin: auto; }
  #leistungen article {
    width: 30%;
    height: 550px;
    border: solid 1px #aa7b28;
    padding: 50px;
    box-sizing: border-box;
    float: left;
    margin: 0 1.5%;
    text-align: center; }
    #leistungen article:hover {
      background-color: rgba(170, 123, 40, 0.1); }
    @media screen and (max-width: 900px) {
      #leistungen article {
        clear: both;
        height: 275px;
        margin: 0 0;
        width: 100%;
        margin-bottom: 20px;
        padding: 25px; } }
    #leistungen article img {
      width: 80%;
      max-width: 150px; }
      @media screen and (max-width: 900px) {
        #leistungen article img {
          height: 80px;
          width: auto; } }
      @media screen and (max-width: 768px) {
        #leistungen article img {
          height: 60px;
          width: auto; } }
    #leistungen article h3 {
      text-align: center;
      padding: 30px 0; }
      @media screen and (max-width: 900px) {
        #leistungen article h3 {
          padding: 15px 0; } }
    #leistungen article .line {
      margin-bottom: 30px; }
      @media screen and (max-width: 900px) {
        #leistungen article .line {
          margin-bottom: 15px; } }
    #leistungen article p {
      text-align: center;
      padding-bottom: 30px;
      font-size: 14px; }
      @media screen and (max-width: 900px) {
        #leistungen article p {
          width: 70%;
          margin: auto; } }
    #leistungen article a {
      color: black;
      font-size: 14px;
      line-height: 40px; }
      @media screen and (max-width: 900px) {
        #leistungen article a {
          display: none; } }

.line {
  width: 54px;
  border-bottom: 1px solid #aa7b28;
  margin: auto; }

#dreieck_sml {
  width: 17px;
  height: 17px;
  background-image: url(bilder/dreieckicon.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  margin: auto; }
  @media screen and (max-width: 900px) {
    #dreieck_sml {
      display: none; } }

#projekte {
  width: 100%;
  height: 795px;
  background-image: url(bilder/bgmixer.jpg); }
  @media screen and (max-width: 900px) {
    #projekte {
      height: 650px; } }
  #projekte .line {
    margin-bottom: 60px; }
    @media screen and (max-width: 900px) {
      #projekte .line {
        margin-bottom: 25px; } }
  #projekte ul {
    width: 50%;
    height: 415px;
    float: right;
    padding-left: 30px;
    box-sizing: border-box; }
    @media screen and (max-width: 900px) {
      #projekte ul {
        display: none; } }
    #projekte ul li {
      height: 110px;
      margin-bottom: 43px; }
      #projekte ul li img {
        float: left;
        padding-right: 20px; }
  #projekte article {
    height: 415px;
    background-image: url(bilder/merryjudgebig.jpg);
    background-size: cover;
    width: 50%;
    float: left; }
    @media screen and (max-width: 900px) {
      #projekte article {
        width: 100%; } }
  #projekte h2 {
    text-align: center;
    font-size: 48px;
    padding-top: 85px;
    padding-bottom: 40px;
    font-weight: 300;
    color: white; }
    @media screen and (max-width: 900px) {
      #projekte h2 {
        font-size: 36px;
        padding-bottom: 15px;
        padding-top: 35px; } }
  #projekte h3 {
    color: white;
    font-weight: 300; }
  #projekte p {
    color: white;
    font-size: 14px;
    font-weight: 200; }

#about {
  width: 100%;
  padding-bottom: 85px; }
  @media screen and (max-width: 900px) {
    #about {
      padding-top: 35px; } }
  #about .line {
    margin-bottom: 60px; }
    @media screen and (max-width: 900px) {
      #about .line {
        margin-bottom: 25px; } }
  #about h2 {
    text-align: center;
    font-size: 48px;
    padding-bottom: 40px;
    font-weight: 300; }
    @media screen and (max-width: 900px) {
      #about h2 {
        font-size: 36px;
        padding-bottom: 15px; } }
  #about article {
    box-sizing: border-box; }
    @media screen and (max-width: 900px) {
      #about article {
        margin: auto;
        text-align: center;
        width: 50%; } }
    #about article p {
      text-align: right; }
    #about article h3 {
      text-align: right; }
      #about article h3:last-child {
        text-align: left; }
    #about article img {
      padding: 0 35px; }
      @media screen and (max-width: 900px) {
        #about article img {
          padding: 35px; } }
    @media screen and (max-width: 900px) {
      #about article #articlebox {
        display: none; } }

#kontakt {
  background-color: #aa7b28; }
  #kontakt h2 {
    text-align: center;
    font-size: 48px;
    padding-top: 85px;
    padding-bottom: 40px;
    font-weight: 300; }
    @media screen and (max-width: 900px) {
      #kontakt h2 {
        font-size: 36px;
        padding-top: 35px;
        padding-bottom: 15px; } }
  #kontakt .line {
    margin-bottom: 60px;
    border-bottom: 1px solid white; }
    @media screen and (max-width: 900px) {
      #kontakt .line {
        margin-bottom: 25px; } }
  #kontakt article {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 45%;
    height: 300px;
    background-color: white;
    padding-left: 100px;
    padding-top: 40px;
    margin-bottom: 85px;
    box-shadow: 0 4px 2px -2px black; }
    @media screen and (max-width: 900px) {
      #kontakt article {
        background: none;
        box-shadow: none;
        float: none;
        margin: auto; } }
  #kontakt img {
    float: left;
    margin-top: 30px; }
  #kontakt h3 {
    margin-left: 100px; }
  #kontakt p {
    margin-left: 100px; }

#place {
  height: 80px; }
  #place img {
    margin-top: 20px; }

#fon {
  height: 80px;
  line-height: 100px; }

#mail {
  height: 80px;
  line-height: 100px; }

#kontaktform {
  height: 250px;
  background-color: white;
  width: 45%;
  float: right;
  text-align: center;
  padding-top: 50px;
  box-shadow: 0 4px 2px -2px black;
  display: none; }

footer {
  width: 100%;
  height: 100px;
  background-color: #282828;
  text-align: center; }
  footer p {
    color: white;
    padding-top: 20px; }

/*# sourceMappingURL=style.css.map */
